

/* styling navlist */
#navlist {
    background-color: #0c8955c2;
    position: absolute;
    width: 100%;
}
     
/* styling navlist anchor element */
#navlist a {
    float:left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 15px;
}
 
.navlist-right{
    float:right;
}

/* hover effect of navlist anchor element */
#navlist a:hover {
    background-color: #ddd;
    color: black;
}
     
/* styling search bar */
.search input[type=text]{
    width:300px;
    height:25px;
    border-radius:25px;
    border: none;
}
     
.search{
    float:right;
    margin:7px;
}
     
.search button{
    background-color: #79cebed4;
    color: #f2f2f2;
    float: right;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.site_title_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.title{
    padding-top: 3em;
}


.main_article{
    position: relative;
    text-align: center;
    color: black;
    margin-top: 1em;
}

.centered_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    margin-top: 1em;
    text-align: center;
}

.flex-container{
    display: flex;
    padding-left: 10%;
}

.flex-child{
    flex:1;
    margin: 1em;
}

.donkey_news a{
    color: black;
}

.upcoming_event_container{
    padding-left: 10%;
    width: 70%;
}
.upcoming_event{
    display: flex;
    width: 70%;
    padding-left: 10%;

}

.calendar{
    padding-top: 1em;
    max-width:75px;
    max-height:125px;
}

.upcoming_event_child{
    padding-right: 5%;
}

.upcoming_event_child a{
    color: black;
}













